MONGODB_URI=mongodb://127.0.0.1:27017/gas-stock
JWT_SECRET=change-this-secret
ADMIN_USERNAME=admin
# bcrypt hash for admin123
ADMIN_PASSWORD_HASH=$2a$10$2Y8mY5TfXYy3jAC5vVsQtuxjVQfW4rWuIwoMvVJE9idhraNROm4t6
